<nav id="menu-navegacion">
  <b><p id="titulo">🍻 Frases epicas Breaking Bad 💊</p></b>
</nav>

<section id="contenedor1">
  <section id="imagen-portada">
    <img src="../assets/img/img1.png" id="img">
  </section>
  <section id="buscador-aleatorio">
    <h1>"Lorem, ipsum dolor sit amet consectetur adipisicing elit"</h1>
    <p>Autor: Luis Angel</p>
    <button type="button" class="btn btn-warning">¡Generar Frase!</button>
  </section>
</section>


<footer>
    <a href="htps://sandovalguicho.com">Sandoval Güicho</a>
</footer>
